<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="cn.sitedev.entity.Fee" alias="Fee"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="cn.sitedev.plugin.FeeInterceptor"></plugin>
    </plugins>

    <mappers>
        <mapper resource="mapper/FeeMapper.xml"/>
    </mappers>
</configuration>